
body{
    margin: 0px;
    padding: 0px;
}

#navigation{
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#navigation ul{
    position: relative;
    padding: 0px;
}

#navigation li{
    position: relative;
    width: 100px;
    list-style: none;
    text-align: center;
    border: 1px solid #000000;
}

#navigation .first{
    position: relative;
}


#navigation .first:hover .second{
    display: block;
}


#navigation .first .second{
    position: relative;
    display: none;
}

#navigation .first .second .third:hover .four{
    display: block;
}

#navigation .first .second .third .four{
    position: absolute;
    top: 0px;
    left: 80px;
    display: none;
    z-index: 1;
}

